<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Cadastrar task</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
	th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css"
	th:href="@{/assets/fonts/simple-line-icons.min.css}">
<link rel="stylesheet" href="assets/css/CDRapidoRegistroRecursos.css"
	th:href="@{/assets/css/CDRapidoRegistroRecursos.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
<link rel="stylesheet" href="assets/css/Pretty-Product-List.css"
	th:href="@{/assets/css/Pretty-Product-List.css}">
<link rel="stylesheet" href="assets/css/smoothproducts.css"
	th:href="@{/assets/css/smoothproducts.css}">
</head>

<body>
	<nav
		class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
		<div class="container">
			<button data-toggle="collapse" class="navbar-toggler"
				data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span>
			</button>
			<div class="text-center" style="height: auto;">
				<div class="text-center separador-menor"></div>
				<img class="img-fluid d-inline"
					th:src="@{/assets/img/EPIC%20TASK%20(250%20x%20250%20px).png}">
				<div class="text-center separador-menor"></div>
			</div>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link active"
						href="/lista-tasks">Tasks</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lista-tasks/new">Cadastrar task</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lista-usuarios">Lista de usuários</a></li>
				</ul>
				<div style="align-items: flex-end;">
					<span th:text="${#authentication.getPrincipal().getName()}"></span>
					<img style="width: 32px; height: 32px; border-radius: 16px;" alt=""
						th:src="${#authentication.getPrincipal().getAvatarUrl()}">
					<!-- span sec:authentication="name"></span -->
					<a href="/logout" title="sair"><img alt="" th:src="@{/images/logout-small.png}">
					</a>
				</div>
			</div>
		</div>
	</nav>
	<main class="page landing-page">
		<section class="clean-block features" style="padding-bottom: 0px;">
			<div class="container">
				<div class="text-center"></div>
			</div>
		</section>
	</main>
	<div class="register-photo" style="background-color: rgba(33,37,41,0.04)">
		<div class="d-lg-flex justify-content-lg-center form-container"
			style="filter: brightness(100%); transform: skew(0deg); border-color: rgb(255, 255, 255); width: 380px;">
			<form th:action="@{/lista-tasks}" method="POST" th:object="${task}"
				style="width: auto; height: auto; background: rgb(255, 255, 255);" 
			>
				<h2 class="text-center">
					<strong>Cadastrar Task</strong>
				</h2>
				<label class="text-center">Titulo</label>
				<div class="form-group">
					<input type="text" class="form-control" name="title" id="title" th:field="*{title}" style="width: auto; background: rgb(255, 255, 255);">
					<span th:errors="*{title}"></span>	
				</div>
				
				<label>Descrição</label>
				<textarea class="form-control"
					style="background: rgb(255, 255, 255);" name="description" id="description"  th:field="*{description}">
				</textarea>
				<span th:errors="*{description}"></span>
				
				<label style="margin-top: 15px;">Pontos</label>
				<input class="form-control-range" type="range" min=10 max=100 name="points" id="points" th:field="*{points}">
				<span th:errors="*{points}"></span>
				
				<div class="form-group d-lg-flex justify-content-lg-center">
					<div
						class="d-lg-flex justify-content-end justify-content-lg-end align-items-lg-center"
						style="width: 244px;">
						<a href="/lista-tasks">
						<button class="btn btn-primary" type="submit" 
							style="background-color: rgb(85, 71, 244); width: auto; margin-right: 0px; margin-left: 50px;">Salvar</button>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Cadastrar task</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Lista de usuários</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Sobre EPIC TASK&nbsp;</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2021 EPIC TASK</p>
		</div>
	</footer>
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="assets/js/smoothproducts.min.js"></script>
	<script src="assets/js/theme.js"></script>
</body>

</html>