<!-- #38d39f ou RGB : 56, 211, 159 COLOR THEME -->

<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Task List</title>
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"
	th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
	th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
<link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css"
	th:hre="@{/assets/fonts/simple-line-icons.min.css}">
<link rel="stylesheet" href="assets/css/CDRapidoRegistroRecursos.css"
	th:href="@{/assets/css/CDRapidoRegistroRecursos.css}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
<link rel="stylesheet" href="assets/css/Pretty-Product-List.css"
	th:href="@{/assets/css/Pretty-Product-List.css}">
<link rel="stylesheet" href="assets/css/smoothproducts.css"
	th:href="@{/assets/css/smoothproducts.css}">
</head>

<body>
	<nav
		class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
		<div class="container">
			<button data-toggle="collapse" class="navbar-toggler"
				data-target="#navcol-1">
				<span class="sr-only">Toggle navigation</span><span
					class="navbar-toggler-icon"></span>
			</button>
			<div class="text-center" style="height: auto;">
				<div class="text-center separador-menor"></div>
				<img class="img-fluid d-inline"
					th:src="@{/assets/img/EPIC%20TASK%20(250%20x%20250%20px).png}">
				<div class="text-center separador-menor"></div>
			</div>
			<div class="collapse navbar-collapse" id="navcol-1">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link active"
						href="/lista-tasks">Tasks</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lista-tasks/new" sec:authorize="hasRole('ADMIN')">Cadastrar task</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/lista-usuarios">Lista de usuários</a></li>
				</ul>
				<div style="align-items: flex-end;">
					<span th:text="${#authentication.getPrincipal().getName()}"></span>
					<img style="width: 32px; height: 32px; border-radius: 16px;" alt=""
						th:src="${#authentication.getPrincipal().getAvatarUrl()}">
					<!-- span sec:authentication="name"></span -->
					<a href="/logout" title="sair"><img alt="" th:src="@{/images/logout-small.png}">
					</a>
				</div>
			</div>
		</div>
	</nav>
	<main class="page pricing-table-page">
		<section class="clean-block clean-pricing dark"
			style="background-color: rgba(33, 37, 41, 0.04)">
			<div class="container">
				<div class="block-heading"></div>
				<h1>EPIC TASKS</h1>
				<div class="row justify-content-center">
					<div class="text-center" th:each="task : ${tasks}" style="margin-left: 3rem">
						<div class="row product-list" style="margin-top: 50px;">
							<div class="col-sm-6 col-md-4 product-item">
								<div class="product-container"
									style="height: 310px; width: 340px;">
									<div class="row">
										<div class="col">
											<h2 th:text="${task.title}"></h2>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<p class="product-description" th:text="${task.description}"></p>
											<meter min="0" low="50" optimum="50" max="100"
												style="width: 200px" th:value="${task.points}"></meter>
											<div class="row" style="margin-top: 70px;">
												<div class="col-6 d-lg-flex align-items-lg-center">
													<button style="background-color: #38d39f" type="button">Pegar</button>
												</div>
												<div
													class="col-6 d-lg-flex justify-content-lg-end align-items-lg-center">
													<img src="assets/img/perfil.jpg"
														style="width: 50px; height: 50px; border-radius: 28px;">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="page-footer dark">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Cadastrar task</a></li>
						<li><a href="#">Register</a></li>
						<li><a href="#">Lista de usuários</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Sobre EPIC TASK&nbsp;</a></li>
						<li><a href="#">Reviews</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Legal</h5>
					<ul>
						<li><a href="#">Terms of Service</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2021 EPIC TASK</p>
		</div>
	</footer>
	<script src="assets/js/jquery.min.js"
		th:hre="@{/assets/js/jquery.min.js}"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"
		th:href="@{assets/bootstrap/js/bootstrap.min.js}"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
	<script th:href="@{/assets/js/smoothproducts.min.js}"></script>
	<script src="assets/js/theme.js" th:href="@{/assets/js/theme.js}"></script>
</body>

</html>